/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

/rdoc/
*.gem

# rspec failure tracking
.rspec_status

/.vscode/
*.code-workspace

#.dsu
scratch*.rb
snippets.rb
readme.txt
todo.txt

.env.*
/.development_home
/.ruby_critter/*
/.ruby_critter
/spec/.tmp

.DS_Store
current_project.bak
